<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/reserves/{doctorId}/create" th:object="${reserveForm}"
          method="post">
        <div class="form-group">
            <label for="patient">등록된 환자</label>
            <select name="patientId" id="patient" class="form-control">
                <option value="">환자선택</option>
                <option th:each="patient : ${patients}"
                        th:value="${patient.id}"
                        th:text="${patient.name}" />
            </select>
        </div>
        <div class="form-group">
            <label for="datetime">날짜 및 시간 선택</label>
            <input type="datetime-local" id="datetime" name="date" class="form-control" th:value="${#temporals.format(reserveForm.date, 'yyyy-MM-dd\'T\'HH:mm')}" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>